<div class="container mx-auto p-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <!-- Main Heading and Paragraph -->
        <div class="col-span-full mb-8">
            <img
                src="/assets/photo.png"
                alt="Church Image"
                class="mx-auto mb-6"
                style="max-width: 80%; height: auto;" />
            <h1 class="text-4xl font-bold text-gray-800 mb-4">Thought of the Day</h1>
            <p class="text-gray-600">At the end of the day, before closing your eyes, be content with what you've done and be proud of who you are.</p>
        </div>

        <!-- Events Section -->
        <div class="section bg-blue-100 p-4 rounded-lg shadow-md">
            <p class="text-blue-800">Details about upcoming events.</p>
            <img
                src="/assets/pexels-rdne-6646917.jpg"
                alt="Events Image"
                class="mx-auto mb-6"
                style="max-width: 80%; height: auto;" />
            <button class="btn btn-primary">Events</button>
        </div>

        <!-- Prayers Section -->
        <div class="section bg-green-100 p-4 rounded-lg shadow-md">
            <p class="text-green-800">Information on prayers and prayer requests.</p>
            <img
                src="/assets/istockphoto-1458677030-1024x1024.jpg"
                alt="Prayers Image"
                class="mx-auto mb-6"
                style="max-width: 80%; height: auto;" />
            <button class="btn btn-primary">Prayers</button>
        </div>

        <!-- Books Section -->
        <div class="section bg-yellow-100 p-4 rounded-lg shadow-md">
            <p class="text-yellow-800">List of recommended books.</p>
            <img
                src="/assets/pexels-pixabay-159711.jpg"
                alt="Books Image"
                class="mx-auto mb-6"
                style="max-width: 80%; height: auto;" />
            <button class="btn btn-primary">Books</button>
        </div>

        <!-- Gallery Section -->
        <div class="section bg-purple-100 p-4 rounded-lg shadow-md">
            <p class="text-purple-800">Collection of images and videos.</p>
            <img
                src="/assets/pexels-vladyslav-dukhin-296649.jpg"
                alt="Gallery Image"
                class="mx-auto mb-6"
                style="max-width: 80%; height: auto;" />
            <button class="btn btn-primary">Gallery</button>
        </div>

        <!-- About Section -->
        <div class="section bg-red-100 p-4 rounded-lg shadow-md">
            <p class="text-red-800">Information about the organization or website.</p>
            <img
                src="/assets/istockphoto-1495306092-1024x1024.jpg"
                alt="About Image"
                class="mx-auto mb-6"
                style="max-width: 80%; height: auto;" />
            <button class="btn btn-primary">About Us</button>
        </div>
    </div>
</div>