.custom-logo {
    width: 3rem; /* Adjust size as needed */
    height: 3rem; /* Adjust size as needed */
  }
  
  .custom-title {
    font-size: 3rem; /* Adjust size as needed */
  }


  .btn{
    background-color:#00bfff,
}

.hero{
    position: fixed;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom right, #ff6f61, #00bfff, #001f3f);
}

.card {
    background-color: #ff6f61;  
}

h1{
    color: white;
}

.custom-logo {
    width: 100rem; /* Adjust as needed */
    height: 100rem; /* Adjust as needed */
  }


.input{
    color: white;
}


.label-text{
    color: white;
}

.label-text-alt{
   color: #007bff;
   text-decoration: underline; 
}


