.custom-logo {
    width: 3rem; /* Adjust size as needed */
    height: 3rem; /* Adjust size as needed */
  }
  
  .custom-title {
    font-size: 3rem; /* Adjust size as needed */
  }


  .btn{
    background-color: #2ec4b6 
}

.hero{
    background-color: #2ec4b6;
}

.card {
    background-color: #ff9f1c; 
}

h1{
    color: white;
}

.custom-logo {
    width: 100rem; /* Adjust as needed */
    height: 100rem; /* Adjust as needed */
  }


.input{
    color: white;
}


.label-text{
    color: white;
}

.label-text-alt{
    color: white;
}