.btn{
    background-color: #2ec4b6 
}

.hero{
    background-color: #2ec4b6;
}

.card {
    background-color: #ff9f1c; 
}

h1{
    color: white;
}

.custom-logo {
    width: 100rem; /* Adjust as needed */
    height: 100rem; /* Adjust as needed */
  }

.label-text{
    color: white;
}

.label-text-alt{
    color: white;
}